---
import Layout from "../layouts/Layout.astro"
const base = import.meta.env.BASE_URL;
---

<Layout title="Låtar/Media | MoA-Marcus & André" isHeroPage={true}>
	<section class="relative min-h-screen text-white overflow-hidden py-24">
		<img 
		src={`${base}images/background_home_page_playing_guitar.jpg`}
		class="absolute inset-0 w-full h-full object-cover opacity-40"
		/>

		<div class="absolute inset-0 bg-amber-900/30"></div>

		<div class="relative z-10 px-4 w-full max-w-6xl mx-auto">

			<div class="grid grid-cols-1 md:grid-cols-3 gap-6">
				<!-- LEFT COLUMN -->
				<div class="md:col-span-1">
					<h2 class="hero-slide text-4xl font-bold italic mb-6 text-amber-100 drop-shadow-lg text-center">
						Exempel Musik
					</h2>
					<iframe
						style="border-radius:12px"
						src="https://open.spotify.com/embed/playlist/6AhzCVH675galIlxkKIByH"
						width="100%"
						height="500"
						allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture">
					</iframe>
				</div>

				<!-- RIGHT COLUMN -->
				<div class="md:col-span-2">
					<h2 class="hero-slide text-4xl font-bold italic mb-6 text-amber-100 drop-shadow-lg text-center">
						Galleri
					</h2>

					<div class="gallery-scroll overflow-y-auto max-h-[500px] grid grid-cols-1 sm:grid-cols-2 gap-4 pr-2">
						<img
						src={`${base}images/private_company_home_page.jpg`} class="rounded-lg object-cover w-full h-full"
						/>
						<img
						src={`${base}images/bar_photo_home_page.jpg`} class="rounded-lg object-cover w-full h-full"
						/>
						<img
						src={`${base}images/background_home_page_two_guitars.jpg`} class="rounded-lg object-cover w-full h-full"
						/>
						<img
						src={`${base}images/background_home_page_playing_guitar.jpg`} class="rounded-lg object-cover w-full h-full"
						/>
						<img
						src={`${base}images/background_home_page_playing_guitar.jpg`} class="rounded-lg object-cover w-full h-full"
						/>
						<img
						src={`${base}images/background_home_page_playing_guitar.jpg`} class="rounded-lg object-cover w-full h-full"
						/>
						<img
						src={`${base}images/background_home_page_playing_guitar.jpg`} class="rounded-lg object-cover w-full h-full"
						/>
					</div>
				</div>
			</div>
		</div>
	</section>
</Layout>